# Python virtual environment
qt_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings folder
.vscode/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Data folders (if you want to ignore raw/processed data from Git)
data/raw/
data/processed/
**/data/

# Ignore content of certifications folder

certifications

# Database folders 
db/*

# Logs, temporary files
*.log
*.tmp

#PNGs
*.png

# MacOS system files (if you’re on Mac)
.DS_Store

# Windows system files
Thumbs.db

# API Keys

docs/api

#ignore hacker rank folder

hacker_rank